@using ControlWork9.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ControlWork9.ViewModels.TransactionHistoryViewModel

<h3>История транзакций</h3>

<form asp-action="TransactionHistory">
    <label for="dateFrom">Дата с:</label>
    <input type="date" name="dateFrom" value="@Model.DateFrom?.ToString("yyyy-MM-dd")" />

    <label for="dateTo">Дата по:</label>
    <input type="date" name="dateTo" value="@Model.DateTo?.ToString("yyyy-MM-dd")" />

    <button type="submit">Применить фильтр</button>
</form>

<div class="pt-5">
<table class="table table-success">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Тип транзакции</th>
        <th>Контрагент</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaction in Model.Transactions)
    {
        <tr>
            <td>@transaction.Date.ToString("dd.MM.yyyy HH:mm")</td>
            <td>@transaction.Amount</td>
            <td>@transaction.Type</td>
            <td>@(transaction.Type == TransactionType.Transfer ? (transaction.FromAccount.ToString() == User.Identity.Name ? transaction.ToAccount : transaction.FromAccount) : "Пополнение")</td>
        </tr>
    }
    </tbody>
</table>
</div>